body {
  margin: 0;
}

.box {
  min-height: calc(100vh - 60px);
  width: 1200px;
  margin: 0 auto;
}

.btn {
  height: 30px;
  width: 70px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.primary-btn {
  background: #ecf5ff;
  border: 1px solid #b3d8ff;
  color: #409eff;
}

.primary-btn:hover {
  background: #66b1ff;
  border: 1px solid #66b1ff;
  color: #ecf5ff;
}

.warning-btn {
  background: #fdf6ec;
  border: 1px solid #f5dab1;
  color: #e6a23c;
}

.warning-btn:hover {
  background: #e6a23c;
  border: 1px solid #e6a23c;
  color: #fdf6ec;
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
.self-scroll::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: transparent;
}
/*定义滑块 内阴影+圆角*/
.self-scroll::-webkit-scrollbar-thumb {
  border-radius: 12px;
  margin: 2px;
  background-color: rgba(33, 33, 33, 0.6);
}
